h1 {
    color:firebrick;
}
.row {
    background-color: paleturquoise;
}
.main-image {
    border: 3px solid blanchedalmond;
}

.btn-color-1 {
    background-color: #C7393B;
}
.btn-color-2 {
    background-color: #4387AA;
}
.btn-color-3 {
    background-color: #B6CF41;
}
.app-shell {
    text-align: center;
}
.team-zone {
    width: 240px;
    height: 180px;
    background-color: forestgreen;
    border: 4px solid blanchedalmond;
    position: relative;
}
.team-zone p {
    position: absolute;
    top: 33%;
    left: 50%;
    margin-right: -50%;
    transform:translate( -50%, 50%);
}
.credit {
    text-align: center;
}