h1 {
    color:firebrick;
}
div {
    background-color: skyblue;
}
.main-image {
    border: 10px solid blanchedalmond;
}

.btn-color-1 {
    background-color: #C7393B;
}
.btn-color-2 {
    background-color: #4387AA;
}
.btn-color-3 {
    background-color: #B6CF41;
}