<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="512" src="https://vignette3.wikia.nocookie.net/fwt/images/e/e3/Illust_Yekaterina_01.png/revision/latest?cb=20160123021259">
  <ul class="list-unstyled">
    <li><i class="em em-gem"></i> Rock</li>
    <li><i class="em em-page_facing_up"></i> Paper</li>
    <li><i class="em em-scissors"></i> Scissors</li>
  </ul>
</div>
<h2>Dead links, WIP! <i class="em em-construction"></i></h2>
<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h2>
  </li>
</ul>

