<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img class="main-image" width="max" src="https://vignette3.wikia.nocookie.net/fwt/images/e/e3/Illust_Yekaterina_01.png/revision/latest?cb=20160123021259">
  <div>
    <ul class="btn-group btn-group-lg" role="group">
      <button type="button" class="btn btn-secondary btn-color-1"><i class="em em-gem"></i> Rock</button>
      <button type="button" class="btn btn-secondary btn-color-2"><i class="em em-page_facing_up"></i> Paper</button>
      <button type="button" class="btn btn-secondary btn-color-3"><i class="em em-scissors"></i> Scissors</button>
    </ul>
  </div>
  <div>
    <ul class="btn-group btn-group-lg" role="group">
      <button type="button" class="btn btn-secondary"><i class="em em-eight_spoked_asterisk"></i> AreaAttack</button>
      <button type="button" class="btn btn-secondary"><i class="em em-large_orange_diamond"></i> Attack</button>
      <button type="button" class="btn btn-secondary"><i class="em em-arrows_counterclockwise"></i> Balance</button>
      <button type="button" class="btn btn-secondary"><i class="em em-large_blue_circle"></i> Defense</button>
      <button type="button" class="btn btn-secondary"><i class="em em-heart_decoration"></i> Support</button>
    </ul>
  </div>
</div>

<ul>
  <li>
    <h2><a target="_blank" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" href="https://blog.angular.io//">Angular blog</a></h2>
  </li>
</ul>

